.ribbon {
	height: 130px;
	box-shadow: 0 1px 4px 0 #757575;
	margin-bottom: 15px;
	&__name {
		text-align: center;
		font-size: 10px;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	&__block {
		display: inline-block;
	    position: relative;
	    height: 90px;
	    vertical-align: top;
	    margin-top: 5px;
	}

	&__galery {
		display: inline-block;
		height: 70px;
		max-width: 330px;
		border: 1px solid #D6D6D6;
		padding: 7px;
		padding-right: 20px;
		ul { margin-bottom: 0;}
		li {
			display: inline-block;
			height: 54px;
			width: 54px;
			margin-right: 5px;
			vertical-align: top;
			cursor: pointer;
		}
	}

	input[type="radio"] {
		display:none;
		&  + label {
			border: 1px solid #D6D6D6;
			cursor: pointer;
			&:hover {
				border: 1px solid #000;
			}
		}

		&:checked + label {
		    border-color: #428BD3;
	    	box-shadow: 0px 0px 3px 0px #4299D8;
		}
	}

	.nav-tabs > li.ribbon__main a {
		background-color: #777;
		color: #fff;
	}

	&__separator {
		width: 1px;
	    height: 90px;
	    display: inline-block;
	    margin: 0 5px;
	    background-color: #CECECE;
	}

	&__btn {
		display: inline-block;
		height: 70px;
		cursor: pointer;
		text-align: center;
		padding: 5px;
		border: 1px solid transparent;
		&:hover,
		&:focus {
			border: 1px solid #eee;
			background-color: #eee;
		}

		&--full {

		}

		img {
			width: 30px;
			height: 30px;
			margin-bottom: 5px;
		}
	}

	&__arr {
		line-height: 10px;

		i { font-size: 10px;}
	}

	&__text {
		font-size: 11px;
		line-height: 14px;
	}

	.tab-content {
		padding: 3px 4px 0;
    	border-top: 1px solid #ddd;
    	margin-top: -1px;
	}

	.nav-tabs.nav-justified, .nav-tabs.nav-justified {border-bottom: 0;}

	.nav-tabs.nav-justified > li > a {text-transform: uppercase;}

	.nav-tabs-justified, .nav-tabs.nav-justified {border-bottom: 0;}

	.nav-justified > li, .nav-tabs.nav-justified > li {width: auto;}

	.nav-justified > li > a {
		border-radius: 0;
		padding: 5px 15px;
		margin-right: 5px;
	}

	.nav-tabs.nav-justified > .ribbon__main.active > a {
		border-bottom-color: #777;
	}

}

.box {
	&__border {
		border: 1px solid #D6D6D6;
		height: 6vw;
		cursor: pointer;
		&:hover,
		&:focus {
			background-color: #eee;
		}
	}
}

.layout_exc {
	padding-top: 20px;
	margin: 20px;
	background: #fff url(../../../assets/images/grid.svg) 1px 1px repeat;
	min-height: 500px;
	background-size: 1000px;
	text-align: center;
	overflow: hidden;
	& > .view-container2 {
		display: inline-block;
		text-align: left;
		& > div {
			background-color: rgba(255, 255, 255, 0.4);;
			border: 2px dashed #77787B;
		}
	}
	.head {
		position: absolute;
	}
	.row,
	.container,
	.col-sm-4 {
		// outline: 1px solid #428BD3;
	}
}

.testing {
	position: absolute;
    height: 100%;
    width: calc(100% - 161px);
    top: 31px;
    left: 161px;
    background-color: #fff;
    z-index: 10;
    &__nav {
    	background-color: #777;
    	display: inline-block;
    	height: 100%;
    	width: 200px;
    	float: left;
    	h2 {
		    font-size: 26px;
		    color: #eee;
		    text-align: center;
		    margin-top: 30px;
		    font-family: robotoLight;
    	}
    	ul {
    		margin-top: 110px;
    	}
    	li {
    		&.active {
    			background-color: #eee;
    			box-shadow: inset 1px 0px 7px -1px #757575;
    			a {color: #FEB0AF;}
    		}
    		a {
    			font-family: robotoLight;
    			color: #eee;
    			font-size: 19px;
    			line-height: 50px;
    			display: block;
    			text-align: center;
    			&:hover {
    				color: #FEB0AF;
    			}
    		}
    	}
    }
}

.testing-box {
	min-height: 9vw;
    background-color: rgba(232, 232, 232, 0.45);
    margin: 1.5vw 0 10px;
    border: 1px dashed #777;
	&--80 {
		margin: 10px 0;
		min-height: 80px;
	}
	&--300 {
		margin: 10px 0;
		min-height: 300px;
	}
}

.test{
	&__head {min-height: 100px;}
	&__form {margin-top: 50px;}
}

body *.movable {
	display: block;
	opacity: 0.6;
	// border: 1px solid #428BCA;
	* {cursor: move;}
	input[type="radio"] {display:none;}
}



