<tabset justified="true" class="ribbon">
  <tab heading="Settings" class="ribbon__main">
   <div class="testing">
      <div class="testing__nav">
        <h2>New page</h2>
        <ul>
        <li class="active"><a href="#">General</a></li>
        <li><a href="#">Modules</a></li>
        <li><a href="#">Plugins</a></li>
        <li><a href="#">Shema</a></li>
        <li><a href="#">Logic</a></li>
        <li><a href="#">DBase</a></li>
      </ul>
      </div>
   </div>
  </tab>

	<tab heading="layouts">
    <div class="ribbon__block">
			<div class="ribbon__btn ribbon__btn--drop ribbon__btn--full">
        <img src="/assets/images/bootstrap3.png" alt="ico">
        <div class="ribbon__text">Grid type</div>
        <div class="ribbon__arr">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="ribbon__btn ribbon__btn--drop ribbon__btn--full">
        <img src="/assets/images/bootstrap3.png" alt="ico">
        <div class="ribbon__text">Grid type</div>
        <div class="ribbon__arr">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="ribbon__name">Main</div>
    </div>
    <div class="ribbon__separator"></div>
    <div class="ribbon__block">
      <div class="ribbon__galery">
        <ul>
          <li><img src="assets/images/grid-1.jpg" alt="grid-1"></li>
          <li><img src="assets/images/grid-2.jpg" alt="grid-2"></li>
          <li><img src="assets/images/grid-3.jpg" alt="grid-3"></li>
          <li><img src="assets/images/grid-4.jpg" alt="grid-4"></li>
        </ul>
      </div>
      <div class="ribbon__name">Choise grid</div>
    </div>
    <div class="ribbon__separator"></div>
	</tab>
	<tab heading="modules">

	</tab>

	<tab heading="pages">
			
	</tab>

  <tab heading="logic">
  
  </tab>

</tabset>

<div class="container">
  <div class="layout_exc">
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
  </div>
</div>