<tabset justified="true" class="ribbon">
  <tab heading="Settings" class="ribbon__main">
   <div class="testing">
      <div class="testing__nav">
        <h2>New page</h2>
        <ul>
        <li class="active"><a href="#">General</a></li>
        <li><a href="#">Modules</a></li>
        <li><a href="#">Plugins</a></li>
        <li><a href="#">Shema</a></li>
        <li><a href="#">Logic</a></li>
        <li><a href="#">DBase</a></li>
      </ul>
      </div> 
      <form class="form-horizontal col-sm-10  test__form">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-1 control-label">Title</label>
          <div class="col-sm-10">
            <input type="title" class="form-control" id="inputEmail3" placeholder="title">
          </div>
        </div>
        <div class="form-group" tooltip="адрес страницы или id. Пример: product:id">
          <label for="inputUrl3" class="col-sm-1 control-label">URL</label>
          <div class="col-sm-10">
            <input type="Url" class="form-control" id="inputUrl3" placeholder="Url">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSeo3" class="col-sm-1 control-label">SEO</label>
          <div class="col-sm-10">
            <input type="SEO" class="form-control" id="inputSeo3" placeholder="SEO">
          </div>
        </div>
        <div class="form-group" tooltip="Описание страницы для SEO">
          <label for="inputkeywords3" class="col-sm-1 control-label">Keywords</label>
          <div class="col-sm-10">
            <input type="keywords" class="form-control" id="inputkeywords3" placeholder="keywords">
          </div>
        </div>
        <div class="form-group">
          <label for="inputDesc3" class="col-sm-1 control-label">Description</label>
          <div class="col-sm-10">
            <input type="Desc" class="form-control" id="inputDesc3" placeholder="Desc">
          </div>
        </div>
      </form>
   </div>
  </tab>

	<tab heading="layouts">
    <div class="ribbon__block">
			<div class="ribbon__btn ribbon__btn--drop ribbon__btn--full">
        <img src="/assets/images/bootstrap3.png" alt="ico">
        <div class="ribbon__text">Bootstrap 3</div>
        <div class="ribbon__arr">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="ribbon__btn ribbon__btn--drop ribbon__btn--full">
        <img src="/assets/images/bootstrap3.png" alt="ico">
        <div class="ribbon__text">Grid type</div>
        <div class="ribbon__arr">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="ribbon__name">Grid type</div>
    </div>
    <div class="ribbon__separator"></div>
    <div class="ribbon__block">
      <div class="ribbon__galery">
        <form name="myForm">
          <ul>
            <li ng-repeat="obj in pages.grids">
              <input type="radio" ng-model="pages.grid" value="{{$index}}" id="{{obj.name}}">
              <label for="{{obj.name}}">
                <img ng-src="{{obj.img}}" alt="{{obj.name}}">
              </label>
            </li>
          </ul>
        </form>
      </div>
      <div class="ribbon__name">Choise grid {{pages.grids[pages.grid].name}} </div>
    </div>
    <div class="ribbon__separator"></div>
	</tab>
	<tab heading="modules">

	</tab>

	<tab heading="pages">
			
	</tab>

  <tab heading="logic">
    <p>Здесь будет vvvv и элементы управленя логикой странички (какие данные запросить, что с ними сделать, как отобразить).</p>
  </tab>

</tabset>

<div class="container-fluid">
  <div class="layout_exc">
    <div class="view-container2">
      <div class="view-frame2" ng-include="pages.grids[pages.grid].url"></div>
    </div>
  </div>
</div>