<tabset justified="true" class="ribbon">
  <tab heading="Settings" class="ribbon__main">
  
  </tab>

	<tab heading="layouts">
    <div class="ribbon__block">
			<div class="ribbon__btn ribbon__btn--drop ribbon__btn--full">
        <img src="/assets/images/bootstrap3.png" alt="ico">
        <div class="ribbon__text">Grid type</div>
        <div class="ribbon__arr">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="ribbon__btn ribbon__btn--drop ribbon__btn--full">
        <img src="/assets/images/bootstrap3.png" alt="ico">
        <div class="ribbon__text">Grid type</div>
        <div class="ribbon__arr">
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
      </div>
      <div class="ribbon__name">Main</div>
    </div>
    <div class="ribbon__separator"></div>
	</tab>
	<tab heading="modules">

	</tab>

	<tab heading="pages">
			
	</tab>

  <tab heading="logic">
  
  </tab>

</tabset>

<div class="container container__news">
  <div class="layout_exc">
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
    <div class="row">
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
      <div class="col-sm-1 box__border"></div>
    </div>
  </div>
</div>