<div class="container container__news">
<h1>
	<span class="content__head">Новости</span>
</h1>
<div class="content__block" ng-repeat="oneNews in news.awesomeNews">
	<div class="content__title">{{oneNews.name}}</div>
	<div class="content__img">
		<div class="carousel carousel--big">
			 <div class="item">
				<a class="fancybox" rel="group1" href="./images/news1/Akris-620x930.jpg">
					<img ng-src="{{oneNews.image}}" alt="foto">
				</a>
			</div>
		</div>
	</div>
	<div class="content__text">
		<div class="contact__desc">
			<p ng-bind-html="news.trustAsHtml(oneNews.text)"></p>
		</div>
		<!-- <div class="content__more">
			<a class="content__link" href="#">читать далее</a>
		</div> -->
	</div>
</div>
</div>